.Header,
.Facts,
.Quote,
.Footer {
    display: flex;
    flex-wrap:wrap;
}
img {
    width: 150px;
    height: 150px;
    border:3px solid #3671c6;
    border-radius: 8px;
}
.Header{
    background-color:#1F2937;
    font-family: Roboto;
    color:aliceblue;
    margin:0;
    border: 5px solid gray;
}
.Facts{
    font-family: Roboto,sans-serif;
    min-height:525px;
    justify-content: center;
    flex: 0 1 auto;
    gap: 16px;
}
.Drivers{
    font-size: 36px;
    color:#1F2937;
    font-weight:900;
    display: flex;
    width:100%;
    justify-content: center;
    align-items:center;
    margin-bottom:0px;
}
.c1,
.c2,
.c3,
.c4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction:column;
    height: 350px;
    width: 150px;
    align-items: center;
    text-align:center;
    flex: 0 1 auto;
}
.Quote {
    background-color: #E5E7EB;
}
.Footer{
    justify-content: center;
    padding: 100px;
}
.BoxedStuff{
    display:flex;
    background-color:#3882f6 ;
    color:aliceblue;
    margin: auto;
}