.Header,
.Facts,
.Quote,
.Footer {
    display: flex;
    flex-wrap:wrap;
}
img {
    width: 200px;
    height: 200px;
    border:3px solid #3671c6;
    border-radius: 8px;
}
.Header{
    background-color:#1F2937;
    font-family: Roboto,sans-serif;
    color:aliceblue;
    margin:0;
}
.Top,
.Content{
    display: flex;
    width:100%;
}
.Top{
    justify-content: space-around;
    align-items:center;
}
.Top h5{
    font-size:24px;
    color: #F9FAF8;
}
.Top a{
    text-decoration:none;
    color:inherit;
}
.Top ul{
    list-style:none;
    gap: 20px;
    display:flex;
    font-size:18px;
    color: #E5E7EB;
}
.Content {
    padding: 50px;
    align-items:center;
    justify-content: center;
    gap:40px;
    padding-top:0;
}
.Content .Intro,
.Content .Oracle {
    display:flex;
    width: 500px;
    height: 400px;
    justify-content: center;
    flex-direction:column;
}
.Intro h1{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
    padding-top:0px;
}
.Intro p{
    font-size:18px;
    color:#F9FAF8;
}
.Oracle{
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Oracle img{
    width: 300px;
    height:auto;
    border-color:#1F2937;
}
.Intro button{
    background-color:#3882F6;
    color: aliceblue;
    width: 100px;
    height:35px;
    border-radius:8px;
}
.Facts{
    font-family: Roboto,sans-serif;
    padding: 50px;
    justify-content: center;
    flex: 0 1 auto;
    gap: 25px;
}
.Drivers{
    font-size: 36px;
    color:#1F2937;
    font-weight:900;
    display: flex;
    width:100%;
    justify-content: center;
    align-items:center;
    margin-bottom:0px;
}
.c1,
.c2,
.c3,
.c4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction:column;
    height: 350px;
    width: 250px;
    align-items: center;
    text-align:center;
    flex: 0 1 150px;
}
.Quote {
    margin-top:100px;
    background-color: #E5E7EB;
    padding: 100px;
    font-size: 36px;
    color: #1B2B5A;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Quote p{
    margin:0;
    margin-bottom: 50px;
}
.Pushed{
    font-family:'Courier New', Courier, monospace;
    color: #E30118; 
}
.Name{
    color: #1F2937;
}
.Footer{
    justify-content: center;
    padding: 150px;
}
.BoxedStuff{
    display:flex;
    background-color:#3882f6 ;
    color:aliceblue;
    margin: auto;
    border-radius: 8px;
    padding:20px;
    justify-content: space-between;
    align-items:center;
    width: 900px;
    height: 100px;
}
.Request,
.BoxedStuff button{
    display:flex;
    flex-direction: column;
}
.Curious{
    font-size:22px;
    font-weight: 700;
}
.Request{
    width: 600px;
    font-size:18px;
    font-weight: 300;
    font-family:Roboto, sans-serif;
}
.BoxedStuff button{
    height: 40px;
    width: 75px;
    justify-content: center;
    align-items: center;
    background-color:#3882f6 ;
    border-radius:8px;
    border-color: aliceblue;
}
.BoxedStuff a{
    text-decoration:none;
    color:aliceblue;
}